:root {
  --text: #3f3d47;
  --text-h: #08060d;
  --bg: #fff;
  --code-bg: #f4f3ec;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/1.6 var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --code-bg: #1f2028;
  }
}

body {
  margin: 0;
}

h1 {
  color: var(--text-h);
  font-weight: 500;
}

code {
  font-family: var(--mono);
  font-size: 0.85em;
  padding: 2px 6px;
  border-radius: 4px;
  background: var(--code-bg);
  color: var(--text-h);
}
